/* 
   ##  SCSS Document
   ##  Author:          Tim Lopes
                        timlopes.work@gmail.com
   ##  ----U.C-----     www.timlopes.eu
   ##  Designed for:    Group project
   ##  Project:         Web Development 
   ##  Dated:           February 2022
   ##  Co-Developer     Ilyass Souhali and Onni-Petteri Rantanen
*/
/* 
    ##  SCSS Document 
    ##  Name Nav-bar
*/
/* 
   ## Document name: Variables
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  display: block;
  margin: 0px !important;
  padding: 0 !important;
  font-size: 16px;
  backface-visibility: hidden;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.15em;
}

a,
a.visited {
  color: #ffffff !important;
  text-decoration: none;
}

a:hover {
  color: #d7a700;
}

h1 {
  font-size: 2em;
}

input, button {
  appearance: auto;
}

/*---------- Sections Global settings  ---------*/
nav {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 5rem;
  max-height: 7rem;
  background-color: #000000;
  z-index: 999;
}

nav .subnavtop {
  height: 2.75rem;
  display: grid;
  width: 100% !important;
  grid-template-columns: .5fr 3.25fr .25fr;
  margin-bottom: .25rem;
  /* Only happens when aria-expanded= true */
}

nav .subnavtop .logo {
  display: flex;
  width: max-content;
  margin-right: auto !important;
  align-items: center !important;
}

nav .subnavtop .logo .logo-link {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: .125rem;
  color: #d7a700 !important;
}

nav .subnavtop .navbar-toggler {
  margin: 0;
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 0.25rem 0;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  margin-inline-start: auto !important;
  transition: box-shadow .15s ease-in-out;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  /* Initial position setting */
}

nav .subnavtop .navbar-toggler:focus {
  outline: none;
}

nav .subnavtop .navbar-toggler .icon-bar {
  width: 1.25rem;
  height: .125rem;
  display: block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  background-color: #d7a700;
}

nav .subnavtop .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

nav .subnavtop .navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}

nav .subnavtop .navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

nav .subnavtop .navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}

@media (min-width: 767.98px) {
  nav .subnavtop .navbar-toggler {
    display: none !important;
  }
}

nav .subnavtop .navbar-toggler.x .icon-bar {
  /* Turn first bar 45deg l-r */
  margin-left: .5rem;
  /* Hide the mid bar*/
  /* Turn first bar 45deg r-l */
}

nav .subnavtop .navbar-toggler.x .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  -ms-transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
}

nav .subnavtop .navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

nav .subnavtop .navbar-toggler.x .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
}

nav .subnavtop .navbar-collapse {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin-right: auto !important;
  align-items: center !important;
  justify-content: flex-end;
}

nav .subnavtop .navbar-collapse .navbar-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0 !important;
  margin: 1rem 0 !important;
  justify-content: space-between;
}

nav .subnavtop .navbar-collapse .navbar-nav .nav-item {
  margin: 0 1.5rem;
}

nav .subnavtop .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  letter-spacing: .125rem;
}

nav .subnavtop .navbar-collapse .navbar-nav .nav-item .nav-link i {
  color: #ffffff !important;
}

nav .subnavtop .user_area {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center !important;
  justify-content: flex-end;
}

nav .subnavtop .user_area .user-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0 !important;
  margin: 1rem 0 !important;
  justify-content: space-between;
}

nav .subnavtop .user_area .user-nav .nav-item {
  margin-left: 1.5rem;
  padding-right: 0.5rem;
}

nav .subnavtop .user_area .user-nav .nav-item .nav-link {
  font-weight: 600;
  letter-spacing: .125rem;
  font-size: 1.25rem;
}

nav .subnavtop .user_area .user-nav .nav-item .nav-link i {
  color: #ffffff !important;
  font-size: 1.25rem;
}

nav .subnavbtm {
  height: 3rem;
  display: grid;
  width: 100% !important;
  grid-template-columns: .5fr 3.5fr;
  margin-bottom: .25rem;
}

nav .subnavbtm .category_div {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto !important;
  align-items: center !important;
}

nav .subnavbtm .category_div .cat-nav-btn {
  appearance: auto;
}

nav .subnavbtm .category_div .cat-nav-btn {
  margin-right: auto !important;
  line-height: 1;
  height: 1.5rem;
  font-size: .8rem;
  font-weight: 600;
  align-items: center;
  letter-spacing: .125rem;
  display: flex !important;
  flex-direction: row !important;
  color: #d7a700 !important;
  border: 1px solid #d7a700;
  background-color: transparent !important;
}

@media (max-width: 350px) {
  nav .subnavbtm .category_div span {
    display: none !important;
  }
}

nav .subnavbtm .search-box {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding-left: 2rem;
  flex-direction: row;
  margin-inline-start: auto;
  justify-content: flex-end;
  align-items: center !important;
  margin-left: auto !important;
}

nav .subnavbtm .search-box .search-form {
  width: 100%;
  position: relative;
}

nav .subnavbtm .search-box .search-form .form-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav .subnavbtm .search-box .search-form .form-group .form-control {
  width: 40vw !important;
  height: 1.5rem;
  font-size: 1rem;
  line-height: 1;
  padding-left: 1rem;
  border-radius: 5rem;
  background-color: white !important;
  border: 1px solid rgba(148, 116, 2, 0.541);
}

nav .subnavbtm .search-box .search-form .form-group .form-control::placeholder {
  margin-right: 1rem;
  color: black;
}

nav .subnavbtm .search-box .search-form .form-group .form-control:focus {
  border: none;
  border-color: inherit;
  box-shadow: none;
}

nav .subnavbtm .search-box .search-form .form-group .search-btn {
  height: 1.5rem;
  height: 1.5rem;
  background-color: transparent !important;
}

nav .subnavbtm .search-box .search-form .form-group .search-btn i {
  color: #ffffff;
  font-size: 1rem;
}

nav .subnavbtm .search-box .search-form .form-group input, nav .subnavbtm .search-box .search-form .form-group button, nav .subnavbtm .search-box .search-form .form-group submit {
  border: none;
  color: -internal-light-dark(#ac0000, white);
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .navbar .logo .logo-link {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .125rem;
  }
  .navbar .nav-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .75rem !important;
    margin-right: 0.75rem !important;
  }
  .navbar .nav-item .nav-link {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }
}

@media screen and (max-width: 767.98px) {
  body {
    overflow-x: hidden !important;
  }
  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 5rem !important;
    flex-wrap: nowrap !important;
  }
  .navbar .subnavtop .logo .logo-link {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .125rem;
  }
  .navbar .subnavtop .navbar-collapse {
    left: 0;
    top: 5rem;
    width: 100%;
    height: 50vh;
    flex-grow: 1;
    z-index: 999;
    flex-basis: 100%;
    position: absolute;
    top: 5rem;
    justify-content: center;
    transition: 0.5s ease-in;
    transform: translatex(-100%);
    background-color: #000000;
    align-items: center !important;
  }
  .navbar .subnavtop .navbar-collapse .navbar-nav {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }
  .navbar .subnavtop .navbar-collapse .navbar-nav .nav-item {
    margin: 1rem 0 !important;
  }
  .navbar .subnavtop .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1rem !important;
    font-weight: 500 !important;
    transition: opacity 0.7s;
    opacity: 0;
  }
  .navbar .subnavtop .navbar-collapse.collapsing {
    height: auto;
    transition: left 0.5s ease;
    left: -100%;
  }
  .navbar .subnavtop .navbar-collapse.show {
    transition: 0.5s ease-in;
    transform: translatex(0%);
  }
  .navbar .subnavtop .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    transition: opacity 1.5s;
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 5rem !important;
    flex-wrap: nowrap !important;
  }
  .navbar .logo .logo-link {
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .125rem;
  }
}

/* 
   ##  SCSS Document 
   ##  Name Sidebar
*/
/* 
   ## Document name: Variables
*/
.sidebar {
  left: 0;
  flex-grow: 1;
  z-index: 999;
  width: 13.75rem;
  flex-basis: 100%;
  position: absolute;
  top: 5rem;
  justify-content: center;
  transition: 0.5s ease-in;
  display: flex !important;
  height: calc(100vh - 5rem);
  transform: translatex(-100%);
  background-color: #ffffff;
  color: #000000 !important;
  align-items: center !important;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar .category-list {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  padding: 0px !important;
  list-style: none !important;
  color: #000000 !important;
  justify-content: center !important;
}

.sidebar .category-list li.category-item {
  margin: .25rem 0 !important;
}

.sidebar .category-list li.category-item .category-btn {
  padding: 0;
  width: 100%;
  display: flex;
  border: unset;
  transition: opacity 1.5s;
  justify-items: flex-start;
  font-size: 1rem !important;
  justify-content: flex-start;
  appearance: none !important;
  font-weight: 500 !important;
  color: #000000 !important;
  background-color: transparent;
  border-bottom: 1px solid #000000;
}

.sidebar .category-list li.category-item .category-btn i {
  margin-left: auto !important;
}

.sidebar .category-list li.category-item .category-btn.active {
  font-weight: 600;
  color: #d7a700 !important;
  border: 0.5px solid #d7a700;
  background-color: #000000 !important;
}

.sidebar .category-list li.category-item .subcat-list {
  margin-top: .5rem;
  padding: 0px !important;
  display: none !important;
  list-style: none !important;
  justify-content: center !important;
}

.sidebar .category-list li.category-item .subcat-list li.subcat-item {
  margin: .25rem 0 !important;
}

.sidebar .category-list li.category-item .subcat-list li.subcat-item button.subcat-btn {
  width: 100%;
  display: flex;
  border: unset;
  font-weight: 400;
  padding: .125rem .5rem;
  transition: opacity 0.7s;
  justify-items: flex-start;
  justify-content: flex-start;
  appearance: none !important;
  color: #000000 !important;
  background-color: transparent;
}

.sidebar .category-list li.category-item .subcat-list.active {
  display: block !important;
}

.sidebar.collapsing {
  height: auto;
  transition: left 0.5s ease;
  left: -100%;
}

.sidebar.show {
  display: flex;
  z-index: 999;
  position: fixed;
  padding-left: 2.5vw;
  transition: 0.5s ease-in;
  transform: translatex(0%) !important;
}

.sidebar.show .category-list .category-item .category-link {
  transition: opacity 1.5s;
  opacity: 1;
}

@media screen and (max-width: 767.98px) {
  .sidebar {
    left: 0;
    padding-left: 5vw !important;
    max-width: 11rem !important;
  }
}

/* 
   ## Document name: home
*/
/* 
   ## Document name: Variables
*/
section {
  width: 100%;
  display: grid;
  min-height: 100vh;
  height: fit-content;
  overflow: hidden !important;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section .section-container {
  width: 100%;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
  flex-direction: column;
}

section .section-container .section-header {
  width: 100%;
  display: grid;
  margin-top: auto;
  margin-bottom: .5rem auto;
  place-items: flex-start;
}

section .section-container .section-header h1 {
  font-size: 2em;
  margin: .75rem auto;
}

section .section-container .section-header h4 {
  font-style: italic;
  margin: .5rem auto;
  font-weight: 500;
}

section#products .section-content {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: center;
  margin-top: 2rem !important;
}

section#products .section-content .product_card {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex: 1 1 224px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 385px !important;
  max-width: 348px !important;
  max-height: 410px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section#products .section-content .product_card .promo-div {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 999;
  display: flex;
  position: absolute;
  margin-right: auto !important;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
  align-content: center;
  justify-content: center;
}

section#products .section-content .product_card .card-header {
  object-fit: cover;
  max-width: 260px !important;
  max-height: 150px !important;
}

section#products .section-content .product_card .card-header img {
  width: 100%;
  height: 100%;
  max-width: 250px !important;
  max-height: 120px !important;
}

section#products .section-content .product_card .card-body {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  flex-direction: column;
}

section#products .section-content .product_card .card-body .card-title {
  margin: .5rem 0;
}

section#products .section-content .product_card .card-body .card-desc {
  margin: auto 0 auto 0;
  text-align: center;
}

section#products .section-content .product_card .card-body p.price {
  margin: 0.5rem 0 !important;
}

section#products .section-content .product_card .card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section#products .section-content .product_card .card-footer .add-to-shopping-card {
  width: 100%;
  display: flex;
  padding: .25rem;
  height: 2.5rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between !important;
}

section#products .section-content .product_card .card-footer .add-to-shopping-card .sc-btn {
  width: 25%;
  height: 100%;
}

section#products .section-content .product_card .card-footer .add-to-shopping-card #sc-minus {
  font-size: 1rem;
  margin-right: auto;
}

section#products .section-content .product_card .card-footer .add-to-shopping-card #in-the-shopping-card {
  width: 75%;
  display: flex;
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

section#products .section-content .product_card .card-footer .add-to-shopping-card #sc-plus {
  font-size: 1rem;
  margin-left: auto;
}

section#products .section-content .product_card .card-footer a {
  display: block;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  align-content: center;
  justify-content: center;
  color: #000000 !important;
  border: #000000 1px solid;
  background-color: #d7a700;
}

section#products .section-content .product_card .card-footer a:hover {
  border: #d7a700 1px solid;
  background-color: #000000;
  color: #d7a700 !important;
}

section#products .section-content .product_card.hot-product {
  box-shadow: #d7a700 1px 3px 7px;
}

section#products .section-content .product_card:hover, section#products .section-content .product_card .hot-product:hover {
  transform: scale(1);
  box-shadow: #1d1d1d 0px 5px 15px;
}

section#products .section-content#single-product .single_card {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section#products .section-content#single-product .single_card .card-header {
  gap: .5rem;
  width: 100%;
  display: grid;
  min-height: 40vh !important;
  grid-template-columns: repeat(2, 1fr);
}

section#products .section-content#single-product .single_card .card-header .product_image {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: #2b2c2c 1px solid;
  object-fit: cover;
  max-height: 450px !important;
}

section#products .section-content#single-product .single_card .card-header .product_image img {
  max-height: 450px !important;
  height: auto;
}

section#products .section-content#single-product .single_card .card-header .basic_info {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: auto !important;
}

section#products .section-content#single-product .single_card .card-header .basic_info h4.card-title {
  margin: 1rem 0;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-desc {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

section#products .section-content#single-product .single_card .card-header .basic_info p.price {
  margin: 1rem 0 !important;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-footer .add-to-shopping-card {
  width: 100%;
  display: grid;
  padding: 0.25rem;
  height: 2.5rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between !important;
  grid-template-columns: 1fr 2fr 1fr;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-footer .add-to-shopping-card .sc-btn {
  width: 100%;
  height: 100%;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-footer .add-to-shopping-card #sc-minus {
  font-size: 1rem;
  margin-right: auto;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-footer .add-to-shopping-card #in-the-shopping-card {
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

section#products .section-content#single-product .single_card .card-header .basic_info .card-footer .add-to-shopping-card #sc-plus {
  font-size: 1rem;
  margin-left: auto;
}

section#products .section-content#single-product .single_card .card-body {
  width: 100%;
  margin-top: 1rem;
  min-height: fit-content;
}

section#products .section-content#single-product .single_card .card-body .details_tabs {
  width: 100%;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-head {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  height: 2.5rem !important;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-head .tab-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  min-width: calc(100% / 3);
  justify-content: space-around;
  appearance: none !important;
  color: #000000 !important;
  border: #000000 1px solid;
  background-color: #d7a700;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-head .tab-btn:hover {
  border: #d7a700 1px solid;
  background-color: #000000;
  color: #d7a700 !important;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-head .tab-btn .tab-btn-spn {
  font-weight: 500;
  font-size: 1rem;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-panel-wrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-panel-wrapper .infopanel {
  padding: 1.5rem;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-panel-wrapper .infopanel .card-title {
  font-weight: 500 !important;
}

section#products .section-content#single-product .single_card .card-body .details_tabs .tab-panel-wrapper .infopanel p {
  margin: .5rem 0;
}

section#about, section#team {
  display: grid;
  place-items: center;
  place-content: center;
}

section#about .section-header, section#team .section-header {
  margin-bottom: 2rem;
}

section#about .section-content, section#team .section-content {
  gap: 2rem;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 2rem !important;
  justify-content: space-around;
}

section#about .section-content .column, section#team .section-content .column {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section#about .section-content .column .card-header, section#team .section-content .column .card-header {
  display: flex;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

section#about .section-content .column .card-header img, section#team .section-content .column .card-header img {
  width: 50%;
  height: 100%;
  border-radius: 50%;
}

section#about .section-content .column .card-body, section#team .section-content .column .card-body {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  flex-direction: column;
}

section#about .section-content .column .card-body .card-title, section#team .section-content .column .card-body .card-title {
  font-size: 1.25rem;
  margin: 1rem 0;
}

section#about .section-content .column .card-body .card-desc, section#team .section-content .column .card-body .card-desc {
  margin: auto 0 auto 0;
  text-align: center;
}

section#about .section-content .column .card-footer, section#team .section-content .column .card-footer {
  width: 75%;
  display: grid;
  padding: .5rem;
  margin-top: auto;
  margin-bottom: auto;
  place-items: center;
  background-color: #d7a700;
  border: #000000 2px solid;
  border-radius: 2rem;
}

section#about .section-content .column .card-footer a, section#team .section-content .column .card-footer a {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  color: #000000 !important;
}

section#about .section-content .column .card-footer:hover, section#team .section-content .column .card-footer:hover {
  border: #d7a700 2px solid;
  background-color: #000000;
}

section#about .section-content .column .card-footer:hover a, section#team .section-content .column .card-footer:hover a {
  color: #d7a700 !important;
}

section#about {
  background-color: #2b2c2c !important;
  color: #ffffff !important;
}

section#about * {
  color: #ffffff;
}

section#about .section-content {
  grid-template-columns: repeat(4, 1fr);
}

section#team .section-header {
  margin-bottom: 2rem;
}

section#team .section-content {
  grid-template-columns: repeat(3, 1fr);
}

section#customers {
  display: grid;
  place-items: center;
  place-content: center;
}

section#customers .section-content {
  gap: 2rem;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 2rem !important;
  justify-content: space-around;
}

section#customers .section-content .login_card {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex: 1 1 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 450px !important;
  max-width: 450px !important;
  max-height: 550px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

section#customers .section-content .login_card .card-header {
  height: 10%;
  display: flex;
  margin-bottom: .5rem;
  flex-direction: column;
  border-bottom: #2b2c2c 1px solid;
  justify-content: center;
}

section#customers .section-content .login_card .card-header .reg-reset {
  width: 100%;
  display: grid;
  height: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

section#customers .section-content .login_card .card-header .reg-reset button {
  display: flex;
  font-weight: 500;
  margin: 0 .125rem;
  align-items: center;
  flex-direction: column;
  min-width: calc(100% / 3);
  color: #000000 !important;
  border: #000000 1px solid;
  justify-content: space-around;
  appearance: none !important;
  background-color: #d7a700;
}

section#customers .section-content .login_card .card-header .reg-reset button:hover {
  border: #d7a700 1px solid;
  background-color: #000000;
  color: #d7a700 !important;
}

section#customers .section-content .login_card .card-body {
  height: 80%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

section#customers .section-content .login_card .card-body .details_tabs {
  display: none;
}

section#customers .section-content .login_card .card-body .details_tabs.show {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

section#customers .section-content .login_card .card-body .details_tabs.show h4 {
  text-align: center;
  font-size: 1rem;
}

section#customers .section-content .login_card .card-body .details_tabs.show .login-form {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
}

section#customers .section-content .login_card .card-body .details_tabs.show .login-form input, section#customers .section-content .login_card .card-body .details_tabs.show .login-form button {
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: auto !important;
  margin-right: auto !important;
}

section#customers .section-content .login_card .card-body .details_tabs.show .login-form .form-btn {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: #d7a700;
  color: #000000 !important;
}

section#customers .section-content .login_card .card-body .details_tabs.show .login-form .form-btn:hover {
  border: #d7a700 2px solid;
  background-color: #000000 !important;
  color: #d7a700 !important;
}

section#contacts {
  background-color: #2b2c2c;
  color: #ffffff;
}

section#contacts * {
  color: #ffffff;
}

section#contacts .section-header {
  width: 100%;
  display: grid;
  margin-top: auto;
  margin-bottom: .5rem auto;
  place-items: flex-start;
}

section#contacts .section-header h1 {
  font-size: 2em;
  margin: .75rem auto;
}

section#contacts .section-header h4 {
  font-style: italic;
  margin: .5rem auto;
  font-weight: 500;
}

section#contacts .section-content {
  gap: 2rem;
  width: 100%;
  display: grid;
  margin-bottom: auto;
  place-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(2, 1fr);
}

section#contacts .section-content .column {
  width: 100%;
  flex-direction: column;
}

section#contacts .section-content .column .cant-header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

section#contacts .section-content .column .cant-header .card-title {
  color: #ffffff;
  margin-right: auto;
}

section#contacts .section-content .column .card-body {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: flex-start;
}

section#contacts .section-content .column .card-body .contact-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: .75rem;
  color: #2b2c2c !important;
}

section#contacts .section-content .column .card-body .contact-form input, section#contacts .section-content .column .card-body .contact-form textarea, section#contacts .section-content .column .card-body .contact-form select {
  width: 100%;
  min-height: 2rem;
  color: #2b2c2c !important;
}

section#contacts .section-content .column .card-body .contact-form select option {
  color: #2b2c2c !important;
}

section#contacts .section-content .column .card-body .contact-form .form-btn {
  display: grid;
  padding: .5rem;
  margin-top: auto;
  font-weight: 800;
  place-items: center;
  border-radius: 2rem;
  width: calc(100% / 4);
  border: #000000 2px solid;
  color: #000000 !important;
  background-color: #d7a700;
}

section#contacts .section-content .column .card-body .contact-form .form-btn:hover {
  border: #d7a700 2px solid;
  background-color: #000000 !important;
  color: #d7a700 !important;
}

section#contacts .section-content .column .card-body .contact-desc {
  text-align: left;
}

section#contacts .section-content .column .card-body .contact-map {
  width: 100%;
  height: 350px;
  margin-bottom: auto;
}

section#footer {
  min-height: 10vh !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  color: #d7a700 !important;
  background-color: #000000 !important;
}

section#footer .section-content {
  gap: 2rem;
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(2, 1fr);
}

section#footer .section-content .column {
  width: 100%;
  flex-direction: column;
}

section#footer .section-content .column .card-title {
  text-align: center;
  justify-content: center !important;
}

section#footer .section-content .column .card-body {
  text-align: center;
}

.copy-right {
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(2, 1fr);
  background-color: #d7a700 !important;
  color: #000000 !important;
}

.copy-right p {
  color: #000000 !important;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .page-section .section-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .page-section section#about .section-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-section section#team .section-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex !important;
  }
  .page-section section#team .section-content .column {
    flex: 1 1 calc(100% / 3);
    margin-left: auto;
    margin-right: auto;
  }
  .page-section section#contacts .section-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden !important;
  }
  .page-section .section-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .page-section#products .section-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-section#about .section-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-section#team .section-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex !important;
  }
  .page-section#team .section-content .column {
    flex: 1 1 calc(100% / 3);
    margin-left: auto;
    margin-right: auto;
  }
  .page-section#contacts .section-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .page-section .section-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .page-section#about .section-content, .page-section#team .section-content, .page-section#contacts .section-content {
    gap: 2rem;
    width: 100%;
    place-items: center;
    display: grid !important;
    margin-top: 2rem !important;
    justify-content: space-around;
    grid-template-columns: 1fr;
  }
  .page-section#about .section-content .column, .page-section#team .section-content .column, .page-section#contacts .section-content .column {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .page-section .section-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (max-width: 480px) {
  #footer .card-body {
    font-size: .75rem !important;
  }
  .copy-right {
    grid-template-columns: 1fr !important;
  }
  .copy-right p {
    font-size: .75rem !important;
    margin: 0.25rem !important;
  }
}
